@import '../material-symbols/rounded.css';

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
}

.flex-table {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-column-grow {
	flex-grow: 1;
}

.flex-header {
	display: flex;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

.flex-cell {
	padding: 2px 4px 2px 4px; 
}

